# Environment variables
.env
*.env

# Folders to ignore
influx_test/
lambda/
sessionmanager-bundle/

# Zip files
*.zip

# Test files
test_*

# Shell scripts (if they contain sensitive info)
*.sh

# Binary files
ffmpeg

# Log files
*.log

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# CSV data files
*.csv

#amazon Q files
.amazonq/